<!DOCTYPE HTML>
<html>
	<head>
		<title>Aerial - Rooms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/room.css" />
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
            function toggleSwitch(){
				$.ajax({
					type: 'POST',
					url: "/smart-plug",
					success: function(resultData) { console.log(resultData) }
				});
			}

			var plugStatus = 0;
			$(document).ready(function(){
				$.ajax({
					type: 'POST',
					url: "/get-status",
					dataType: 'json',
					success: function(result) {
						plugStatus = result;
					}
				}).then(function(){
					if (plugStatus === 0) {
                        $('#button-1 .checkbox').attr('checked', false);
						$('.loading-wrapper').fadeOut();
					} else {
                        $('#button-1 .checkbox').attr('checked', true);
						setTimeout(function(){
							$('.loading-wrapper').fadeOut();
						},1000)
					}
				})
			});
		</script>
	</head>
	<body>
        <header>
            <div class="left-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <div class="logo"><a href="/rooms">aerial</a></div>
            <div class="right-menu"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
            <nav class="left-nav">
                <div class="nav-inner">
                    <i class="fa fa-close" style="color: #979797;"></i>
                    <h2>Navigation Menu</h2>
                    <ul class="nav-items">
                        <li class="nav-item"><a href="/rooms">Rooms</a></li>
                        <li class="nav-item">My Booking</li>
                        <li class="nav-item">Contact Host</li>
                        <li class="nav-item">FAQ</li>
                        <li class="nav-item">About</li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="loading-wrapper">
			<div class="loading">
				<p>Loading...</p>
				<span><i></i><i></i></span>
			</div>
		</div>

        <div class="image">
            <div id="pool-light" class="point"></div>
            <div id="landscape-light" class="point">
                <div class="bubble" id="landscape-bubble">
                    <h2>Landscape lights</h2>
                    <p>Turn on/off landscape lights</p>
                    <div class="button r" id="button-1" onclick="toggleSwitch()">
                        <input type="checkbox" class="checkbox" />
                        <div class="knobs"></div>
                        <div class="layer"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/main.js"></script>
	</body>
</html>