header {
	background: #9090901f;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    backdrop-filter: blur(16px);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 100%;
    position: absolute;
    left: calc((100% - 200px) / 2);
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
	color: #3d7da9;
}

.logo a {
    text-decoration: none;
}

.left-menu {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}